body{
    background-image: url(/img/ep5.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
    font-size: 2px;
    line-height: 3px;

}
nav{
    text-align: center;
    padding: 2px;
    margin: 2px;
    list-style: circle;
}
ul{
    display: inline-block;

}
header{
    background-color: #333;
    color: rgb(176, 218, 255);
    padding: 0.25em;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

footer{
    background-color: rgb(47, 185, 240);
    text-align: center;
    padding: 1px;
    margin-top: 8px;
}
